<section class="contact-wrapper" id="contact">
    <div class="container">
        <div class="title text-center">
            <h3 class="title-body">{{ componentConfig.title }}</h3>
            <h4 class="title-body slab">{{ componentConfig.subtitle }}</h4>
          </div>
       
        <div class="form-wrapper">
            <div class="row">
                <h5 class="paragraph roboto base fw-4 mb-8">{{componentConfig.description}}</h5>
                <button class="help" role="button" tabindex="0" >
                    <app-get-icon [icon]="'info'"/>
                </button>
            </div>
            
            <app-contact-form [formConfig]="componentConfig.form"/>
            
        </div>
    </div>
</section>