<div class="technologies-wrapper">
  <div class="container">
    <div class="title mb-4 text-center">
      <h3 class="title-body">{{ componentConfig.title }}</h3>
      <h4 class="title-body slab">{{ componentConfig.subtitle }}</h4>
    </div>
  </div>

  <div class="technologies">
    <div class="row first-row" #scrollRow>
      @for (tech of firstHalf; track trackByFn($index, tech)) {
      <div class="tech">
        <div class="img-wrapper">
          <img [src]="tech.img.src" [alt]="tech.img.alt" loading="lazy" />
        </div>
        <h5 class="very-small-title">{{ tech.title }}</h5>
      </div>
      }
      @for (tech of firstHalf; track trackByFn($index, tech)) {
        <div class="tech">
          <div class="img-wrapper">
            <img [src]="tech.img.src" [alt]="tech.img.alt" loading="lazy" />
          </div>
          <h5 class="very-small-title">{{ tech.title }}</h5>
        </div>
        }
    </div>
    <div class="row second-row" #scrollRow2>
      @for (tech of secondHalf; track trackByFn($index, tech)) {
      <div class="tech">
        <div class="img-wrapper">
          <img [src]="tech.img.src" [alt]="tech.img.alt" loading="lazy" />
        </div>
        <h5 class="very-small-title">{{ tech.title }}</h5>
      </div>
      }
      @for (tech of secondHalf; track trackByFn($index, tech)) {
        <div class="tech">
          <div class="img-wrapper">
            <img [src]="tech.img.src" [alt]="tech.img.alt" loading="lazy" />
          </div>
          <h5 class="very-small-title">{{ tech.title }}</h5>
        </div>
        }
    </div>
  </div>
  <button 
    class="toggle-play-button-wrapper" 
    (click)="toggleScrollAnimation()" 
    [attr.aria-pressed]="isScrolling" 
    [attr.aria-label]="isScrolling ? 'Pause scrolling animation' : 'Play scrolling animation'"
  >
    @if (isScrolling) {
      <app-get-icon [icon]="'pause'" />
    }
    @else {
      <app-get-icon [icon]="'play_arrow'" />
    }
  </button>
</div>
