<section class="section-bullets-wrapper" [ngClass]="[componentConfig.projectName, componentConfig.style]">
    <div class="container">
        <h2 class="title">{{componentConfig.title}}</h2>
        <h3 class="subtitle">{{componentConfig.subtitle}}</h3>
        @for (p of componentConfig.paragraphs; track $index) {
            <p class="paragraph">{{p}}</p>
        }
        <ul>
            <ul>
                @for (bullet of componentConfig.bullets; track $index) {
                    <li>
                        <div class="img-bullet-wrapper" [ngClass]="{'with-icon': bullet.iconName && bullet.iconName.trim().length > 0}">
                            @if (bullet.bulletImage) {
                                <img [src]="bullet.bulletImage.src" [alt]="bullet.bulletImage.alt">
                            }
                            @if (bullet.iconName) {
                                <app-get-icon [icon]="bullet.iconName" />
                            }
                        </div>
                        <div class="text-bullet-wrapper">
                            <h3 class="bullet-title">{{bullet.title}}</h3>
                            <p class="bullet-paragraph">{{bullet.text}}</p>
                        </div>
                    </li>
                }
            </ul>
        </ul>
    </div>
</section>