<section class="section-bullets-wrapper" [ngClass]="[componentConfig.projectName, componentConfig.style]">
    <div class="container in-project">
        <h2 class="project-title primary-color">{{componentConfig.title}}</h2>
        <h3 class="project-subtitle white-color">{{componentConfig.subtitle}}</h3>
        @for (p of componentConfig.paragraphs; track $index) {
            <p class="project-paragraph white-color">{{p}}</p>
        }
        <ul>
            @for (bullet of componentConfig.bullets; track $index) {
                <li>
                    <div class="img-bullet-wrapper" [ngClass]="{'with-icon': bullet.iconName && bullet.iconName.trim().length > 0}">
                        @if (bullet.bulletImage) {
                            <img [src]="bullet.bulletImage.src" [alt]="bullet.bulletImage.alt" loading="lazy">
                        }
                        @if (bullet.iconName) {
                            <app-get-icon [icon]="bullet.iconName" />
                        }
                    </div>
                    <div class="text-bullet-wrapper">
                        <h3 class="bullet-title white-color">{{bullet.title}}</h3>
                        <p class="bullet-paragraph white-color">{{bullet.text}}</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>