@import "mixins";

.section-bullets-wrapper {
    padding-top: $spacing-unit*8;
    padding-bottom: $spacing-unit*8;
    
    &.tierro {
        background-color: $tierroPrimary_100;
        background-image: url(assets/images/projects/tierro/logo-color-tilt.svg),linear-gradient(180deg, $tierroBack 0%, $tierroPrimary_100 100%);
        background-size: 2000px auto, cover;
        background-position:  center, center;
        .img-bullet-wrapper {
            &.with-icon {
                background-color: $tierroBackBlue;
                fill: $tierroWhite-white;
            }
        }
    }
    &.portfolio {
        background-color: $dark;
        background-image: url(assets/images/projects/portfolio/project-mobile-split1.webp);
        background-repeat: no-repeat;
        background-size: 991px auto;
        background-position: center bottom -25px;
        padding-bottom: $spacing-unit*24;
        @include respond-to(lg) {
            background-image: url(assets/images/projects/portfolio/project-split1.webp);
            background-size: 1200px auto;
        }
        @include respond-to(xl) {
            background-position: center bottom -30px;
            background-size:  1400px auto;
        }
        @include respond-to(xxl) {
            background-position: center bottom -100px;
            background-size: 3840px auto;
            padding-bottom: $spacing-unit*40;
        }
        .img-bullet-wrapper {
            &.with-icon {
                background-color: $purple;
                fill: $text-color-white;
            }
        }
    }
    &.brushalong {
        &.wooden-sign {
            background-color: #704720;
            background-image: url(assets/images/projects/brush-along/wooden-sign.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: $spacing-unit*2;
            border: $spacing-unit*1 solid $brushalongDarkGreen;
            @include respond-to(md) {
                border: $spacing-unit*2 solid $brushalongDarkGreen;
                border-radius: $spacing-unit*8;
            }
        }
        &.white-bg {
            background-color: $brushAlongWhite;
            .project-title {
                color: $tierroOrange;
            }
            .white-color {
                color: $brushalongPrimary;
            }
        }
        .img-bullet-wrapper {
            &.with-icon {
                background-color: $brushalongBlue;
                app-get-icon {
                    ::ng-deep svg {
                        fill: $brushAlongWhite;
                    }
                }
            }
        }
        &.two-rows {
            &.text-center {
                text-align: start;
                @include respond-to(md) {
                    text-align: center;
                }
            }
            ul {
                text-align: start;
                text-align: start;
                justify-content: start;
                @include respond-to(md) {
                    text-align: center;
                    text-align: center;
                    justify-content: center;
                }
                li {
                    text-align: start;
                    @include respond-to(md) {
                        text-align: center;
                    }
                    .img-bullet-wrapper {
                        margin-left: unset;
                        margin-right: unset;
                        @include respond-to(md) {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
    &.text-center {
        text-align: start;
        @include respond-to(md) {
            text-align: center;
            text-align: center;
            justify-content: center;
        }
    }
    &.two-rows {
        &.text-center {
            text-align: center;
        }
        p.project-paragraph {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            gap: $spacing-unit*8;
            @include respond-to(md) {
                gap: $spacing-unit*16;
            }
            li {
                text-align: center;
                flex: 0 0 300px;
                max-width: 300px;
                @include respond-to(lg) {
                    flex: 0 0 350px;
                    max-width: 350px;
                }
                .img-bullet-wrapper {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    &.columns-2-center {
      .container {
        max-width: 900px;
        ul {
            column-gap: $spacing-unit*16; 
            row-gap: $spacing-unit*8;
        }
      }
    }
    h2.project-title {
        margin-bottom: $spacing-unit; 
    }
    h3.project-subtitle {
        margin-bottom: $spacing-unit*4; 
    }
    p.project-paragraph {
        margin-bottom: $spacing-unit*8; 
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
    h3.bullet-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: $spacing-unit; 
        @include respond-to(md) {
            font-size: 22px;
            margin-bottom: $spacing-unit*2; 
        }
        @include respond-to(lg) {
            font-size: 28px;
        }
    }
    p.bullet-paragraph {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 0;
        @include respond-to(md) {
            font-size: 18px;
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        margin-top: $spacing-unit*8;
        list-style: none;
        list-style-type: none;
        
        li {
            text-align: start;
        }
    }
    .img-bullet-wrapper {
        margin-bottom: $spacing-unit; 
        @include respond-to(md) {
            margin-bottom: $spacing-unit*2; 
        }
        &.with-icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-unit;
            border-radius: 50%;
            app-get-icon {
                ::ng-deep svg {
                    width: 35px;
                    height: 35px;
                    flex: 0 0 35px;
                }
            }
        }
    }
}