@import "mixins";

.logo-wrapper {
    svg {
        fill: $tierroYellow;
        width: 100%;
    }
    &.symbol {
        width: 55px;
        height: 55px;
    }
    &.vertical {
        width: 200px;
        height: 181px;
    }
}