<app-navbar [componentConfig]="config.navbar" />
<app-header [componentConfig]="config.header" />
<app-overview [componentConfig]="config.overview" />
<app-process [componentConfig]="config.process" />
<app-problem-solution [componentConfig]="config.problemSolution"/>
<app-mono-dynamic-section [componentConfig]="config.clientPage"/>
<app-mono-dynamic-section [componentConfig]="config.adminPage"/>
<app-section-bullets [componentConfig]="config.theGoal"/>
<app-overview [componentConfig]="config.targetAudience"/>
<app-personas [componentConfig]="config.personas"/>
<app-section-bullets [componentConfig]="config.insights"/>
<app-wireframes [componentConfig]="config.userFlow"/>
<app-wireframes [componentConfig]="config.wireframes"/>
<app-style-guide [componentConfig]="config.styleGuide"/>
<app-sections-jump [componentConfig]="config.finalDesign" />
<app-prototype [componentConfig]="config.prototypeConfig"/>
<app-mono-dynamic-section [componentConfig]="config.conclusions"/>
<app-final-section [componentConfig]="config.footer" />

<app-icons-img/>