@import "mixins";

.project-dynamic-section-wrapper {
    padding-top: $spacing-unit*8;
    padding-bottom: $spacing-unit*8;
    overflow: hidden;
   
    &.tierro {
        background-color: $tierroPrimary_100;
        background-image: url(assets/images/projects/tierro/plug1.svg);
        background-repeat: no-repeat;
        background-size: 600px auto;
        background-position: right calc(50% - 500px) bottom 155px;
        padding-bottom: 0;
        @include respond-to(xl) {
            background-size: 1000px auto;
            background-position: right calc(50% - 500px) bottom -240px;
        }
        @include respond-to(xxl) {
            background-image: linear-gradient(-70deg, $tierroPrimary_100 20%, transparent 40%), url(assets/images/projects/tierro/plug1.svg);
            background-position: center, right calc(50% - 500px) bottom -120px;
            background-size:  cover, 1000px auto;
        } 
    }
    &.brushalong {
        background-color: $brushalongDarkBlue;
    }
    .section {
        margin-bottom: $spacing-unit*8;
        @include respond-to(lg) {
            margin-bottom: 0;
        }
        .text {
            h2.project-title {
                margin-bottom: $spacing-unit; 
            }
            h3.project-subtitle {
                margin-bottom: $spacing-unit*4; 
            }
            ul {
                margin-top: $spacing-unit*4; 
                list-style-image: none;
                list-style-type: none;
                li {
                    display: flex;
                    gap: $spacing-unit*2;
                    .content {

                    }
                    &:before {
                        content: url(assets/images/projects/tierro/check.svg);
                        display: inline-block;
                        margin-top: $spacing-unit;
                    }
                    span.title {
                        display: inline;
                        line-height: 1.5;
                        font-size: 16px;
                        font-weight: 700;
                        @include respond-to(lg) {
                            font-size: 18px;
                        }
                    }
                    p {
                        display: inline;
                        line-height: 1.5;
                        font-size: 16px;
                        @include respond-to(lg) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .container {
            display: flex;
            gap: $spacing-unit*6;
            margin-bottom: $spacing-unit*4;
            @include respond-to(lg) {
                justify-content: space-between;
                gap: 0;
            }
        }
        &.rtl {
            .container {
                flex-direction: column;
                @include respond-to(lg) {
                    flex-direction: row;
                }

            }
            .text {
                @include respond-to(lg) {
                    flex: 0 0 500px;
                    margin-left: -200px;
                }
                @include respond-to(xl) {
                    margin-left: -300px;
                    flex: 0 0 700px;
                }
            }
            .img-wrapper {
               
                @include respond-to(lg) {
                    flex: 0 0 400px;
                }
                img {
                    width: 300px;
                    height: 275px;
                    @include respond-to(md) {
                        width: 500px;
                        height: 458px;
                    }
                    @include respond-to(lg) {
                        margin-left: -100px;
                    }
                    @include respond-to(xxl) {
                        width: 700px;
                        height: 642px;
                        margin-left: -200px;
                    }
                }
            }
        }
        &.ltr {
            .container {
                flex-direction:  column;
                position: relative;
                justify-content: start;
                @include respond-to(lg) {
                    flex-direction: row-reverse;
                }
                @include respond-to(xl) {
                    margin-top: -80px;
                }
            }
            .text {
                
                @include respond-to(lg) {
                    flex: 0 0 800px;
                }
            }
        }
    }
}