@import "mixins";

.project-dynamic-section-wrapper {
    padding-top: $spacing-unit*8;
    padding-bottom: $spacing-unit*8;
    overflow: hidden;
   
    &.tierro {
        background-color: $tierroPrimary_100;
        background-image: url(assets/images/projects/tierro/plug1.svg);
        background-repeat: no-repeat;
        background-size: 1000px auto;
        background-position: right calc(50% - 500px) bottom -120px;
        padding-bottom: 0;
        .primary-color {
            color: $tierroYellow
        }
        .white-color {
            color: $tierroWhite-white;
        }
        .fade-white {
            color: $tierroLittleWhite;
        }
        
    }
    .section {
        .text {
            h2.title {
                font-size: 28px;
                font-weight: 600;  
                margin-bottom: $spacing-unit; 
            }
            h3.subtitle {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: $spacing-unit*4; 
            }
            p.paragraph {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.5;
            }
            ul {
                margin-top: $spacing-unit*4; 
                list-style-image: none;
                list-style-type: none;
                li {
                    display: flex;
                    gap: $spacing-unit*2;
                    .content {

                    }
                    &:before {
                        content: url(assets/images/projects/tierro/check.svg);
                        display: inline-block;
                        margin-top: $spacing-unit;
                    }
                    span.title {
                        display: inline;
                        line-height: 1.5;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    p {
                        display: inline;
                        line-height: 1.5;
                        font-size: 18px;
                    }
                }
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
        }
        &.rtl {
            .container {
                flex-direction: row;
            }
            .text {
                margin-left: -300px;
                flex: 0 0 700px;
            }
            .img-wrapper {
                flex: 0 0 400px;
                img {
                    margin-left: -200px;
                    width: 700px;
                    height: auto;
                }
            }
        }
        &.ltr {
            .container {
                margin-top: -80px;
                flex-direction:  row-reverse;
                position: relative;
                justify-content: start;
            }
            .text {
                flex: 0 0 800px;
            }
        }
    }
}