<a 
    class="cta-wrapper size-{{ctaConfig.size}} color-{{ctaConfig.color}}" 
    [attr.aria-label]="ctaConfig.ariaLabel" 
    [routerLink]="ctaConfig.inLink ? ['/' + ctaConfig.inLink] : null"
    (click)="onClick()"
    >

    @if (ctaConfig.showIconLeft) {
        <div class="icon-left">
            <app-icons-img [icon]="ctaConfig.iconLeft" />
        </div>
    }
   
    <p>{{ctaConfig.text}}</p>

    @if (ctaConfig.showIconRight) {
        <div class="icon-right">
            <app-icons-img [icon]="ctaConfig.iconRight" />
        </div>
    }
  
</a>