@import './mixins';

.cta-wrapper {
    display: inline-flex;
    font-family: $font-family-roboto;
    transition: all ease-in-out .2s;
    padding: 12.5px 30px;
    border-radius: $spacing-unit*2;
    cursor: pointer;
    align-items: center;
    gap: $spacing-unit*2;

    p {
        font-weight: 500;
    }
    &.size-big {
        p {
            @include responsive-font-size(roboto, h3);
        }
    }
    &.size-default {
        p {
            @include responsive-font-size(roboto, base); 
        }
    }
    &.size-small {
        p {
            @include responsive-font-size(roboto, 'p-small'); 
        }
    }
    &.color-dark {
        background-color: $dark;
        color: $text-color-white;
        fill: $text-color-white;
        &:hover {
            background-color: $purple;
        }
        &:focus {
            border: $border-focus $text-color-gold solid;
            box-shadow: $shadow-focus $dark, $shadow-focus-blur $dark-gold;
        }
    }
    &.color-white {
        background-color: $text-color-white;
        color: $dark;
        fill: $dark;
        &:hover {
            background-color: darken($color: $text-color-white, $amount: 20%);
        }
        &:focus {
            border: $border-focus $dark solid;
            box-shadow: $shadow-focus $text-color-white, $shadow-focus-blur $text-color-white;
        }
    }
    &.color-gold {
        background-color: $text-color-gold;
        color: $dark;
        fill: $dark;
        &:hover {
            background-color: $dark-gold;
        }
        &:focus {
            border: $border-focus $dark solid;
            box-shadow: $shadow-focus $text-color-gold, $shadow-focus-blur $dark-gold;
        }
    }
    &.color-disable-white {
        background-color: rgba($text-color-white, 50%);
        color: $dark;
        fill: $dark;
        cursor: default;
    }
    
    // projects
    &.color-tierro {
        background-color: $tierroYellow;
        color: $tierroPrimary_100;
        fill: $tierroPrimary_100;
        &:hover {
            background-color: lighten($tierroYellow, $amount: 50%);
        }
        &:focus {
            border: $border-focus $tierroPrimary_100 solid;
            box-shadow: $shadow-focus $tierroYellow, $shadow-focus-blur $tierroYellow;
        }
    }
    &.color-brushalong-blue {
        background-color: $brushalongBlue;
        color: $brushAlongWhite;
        fill: $brushAlongWhite;
        &:hover {
            background-color: darken($brushalongBlue, $amount: 20%);
        }
        &:focus {
            border: $border-focus $brushAlongWhite solid;
            box-shadow: $shadow-focus $brushalongBlue, $shadow-focus-blur $brushalongBlue;
        }
    }
}