
@if (componentConfig.scrollToLink) {
  <a class="arrow-link-wrapper" tabindex="0" 
    (click)="scrollToSection($event)"
    href="/"
    >
    @if (componentConfig.showIcon) {
      <!-- <app-icons-img [icon]="componentConfig.icon" /> -->
    }
    {{ componentConfig.label }}
  </a>
}
@else {
  <a class="arrow-link-wrapper" tabindex="0" 
    [routerLink]="componentConfig.inLink ? ['/' + componentConfig.inLink] : null"
  >
    @if (componentConfig.showIcon) {
      <!-- <app-icons-img [icon]="componentConfig.icon" /> -->
    }
    {{ componentConfig.label }}
  </a>
}