<div class="input-group-wrapper">
    <label class="paragraph roboto base fw-400">{{ config.label }}</label>
    <div class="input-wrapper">
        @if (config.hasIconLeft && config.iconLeft != '') {
          <div class="icon icon-left">
              <app-get-icon [icon]="config.iconLeft" [iconColor]="config.iconColor" />
          </div>
        }
      <input
        class="paragraph roboto small fw-4"
        type="text"
        [attr.aria-label]="config.ariaLabel"
        [attr.aria-describedby]="config.ariaDescribedBy"
        [attr.aria-labelledby]="config.ariaLabelledBy"
        [required]="config.required"
        [value]="value"
        (blur)="onBlur()"
        (input)="onInputChange($event)"
      />
      @if (config.hasIconRight && config.iconRight != '') {
        <div class="icon icon-right">
          <app-get-icon [icon]="config.iconRight" [iconColor]="config.iconColor" />
        </div>
      }
      
    </div>
    @if (!isValid && formControlName.touched) {
      <span>{{ error }}</span>
    }
  </div>