@import './mixins';

.input-group-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit*2;
    label {
        color: $text-color-white;
    }
    .icon {
        position: absolute;
        fill: $text-color-white;
        &.icon-left {
            left: $spacing-unit*2;
        }
        &.icon-right {
            right: $spacing-unit*2;
        }
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        input {
            padding: $spacing-unit*3 $spacing-unit*4+25;
            border-radius: $spacing-unit*2; 
            border: 1px solid $form-border;
            background: $dark-purple;
            min-width: 300px;
            color: $text-color-white;
            &::placeholder {
                color: rgba($text-color-white, $alpha: 50%);
            }
            &:active, &:focus {
                border: 2px solid $focusBlue;
                box-shadow: 0px 0px 20px 0px $focusBlue, 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
                
            }
            &.invalid {
                border: 2px solid $errorRed;
                box-shadow: 0px 0px 20px 0px $errorRed, 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
            }
        }
    }
}