@import "mixins";

.project-section-jump-wrapper {
    padding-top: $spacing-unit*16;
    padding-bottom: $spacing-unit*16;
    overflow: hidden;
    &.tierro {
        background-color: $tierroBack;
      
        .icon-wrapper {
            background-color: $tierroYellow;
        }
        .sections-wrapper {
            &.yellow-circle-right {
                @include respond-to(md) {
                    background-image: url(assets/images/projects/tierro/yellow-circle-right.svg);
                }
               
            }
            &.yellow-circle-left {
                @include respond-to(md) {
                    background-image: url(assets/images/projects/tierro/yellow-circle-left.svg);
                }
            }
        }
        &:not(.reverse) {
            .img-wrapper {
                img {
                    transform: translateX(-60px);
                    @include respond-to(md) {
                        transform: translateX(-100px);
                    }
                }
            }
        }
        &.reverse {
            .img-wrapper {
                img {
                    @include respond-to(md) {
                        transform: translateX(100px);
                    }
                }
            }
        }
    }
    &.brushalong {
        padding-top: $spacing-unit*8;
        padding-bottom: $spacing-unit*8;
        @include respond-to(lg) {
            padding-top: $spacing-unit*16;
            padding-bottom: $spacing-unit*16;
        }
        &.green-bg {
            background-color: $brushalongDarkGreen;
        }
        .sections-wrapper {
            position: relative;
            .img-wrapper, .text-content {
                z-index: 2;
                position: relative;
            }
            .text-content {
                &::before {
                    @include respond-to(md) {
                        position: relative;
                        width: 150px;
                        display: inline-block;
                        content: '';
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 150px;
                        margin-bottom: -100px;
                        top: -100px;
                    }
                }
            }
            &:after {
                @include respond-to(md) {
                    content: '';
                    background-image: radial-gradient(50% 50% at 50% 50%, $brushalongGreen 0%, rgba(176, 238, 24, 0.00) 100%);
                    position: absolute;
                    width: 500px;
                    height: 500px;
                    background-size: 500px 500px;
                    background-repeat: no-repeat;
                    z-index: 1;
                }
            }
            &.green-circle-right {
                .text-content {
                    &::before {
                        @include respond-to(md) {
                            background-image: url(assets/images/projects/brush-along/green-circle-right.svg);
                        }
                    }
                }
               
            }
            &.green-circle-left {
                .text-content {
                    &::before {
                        @include respond-to(md) {
                            background-image: url(assets/images/projects/brush-along/green-circle-left.svg);
                        }
                    }
                }
            }
            &:not(.reverse) {
                .img-wrapper {
                    img {
                        @include respond-to(md) {
                            transform: translateX(-100px);
                        }
                    }
                }
                &:after {
                    @include respond-to(md) {
                        top: -120px;
                        left: -200px;
                    }
                }
            }
            &.reverse {
                .img-wrapper {
                    img {
                        @include respond-to(md) {
                            transform: translateX(100px);
                        }
                    }
                }
                &:after {
                    @include respond-to(md) {
                        top: -120px;
                        right: -200px;
                    }
                }
            }
        }
    }
    .project-title {
        &.in-title {
            margin-bottom: 0;
        }
    }
    .project-subtitle  {
        &.in-title {
            margin-bottom: $spacing-unit*4;
        }
    }
    .project-paragraph {
        &.in-title {
            margin-bottom: $spacing-unit*8;
        }
    }
    .sections-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: start;
        margin-bottom: $spacing-unit*8;
        gap: $spacing-unit*4;
        text-align: start;
        @include respond-to(md) {
            background-repeat: no-repeat;
            background-size: 170px auto;
            align-items: center;
        }
       
        &:not(.reverse) {
            flex-direction: column;
            @include respond-to(md) {
                flex-direction: row;
                background-position: right 10px top -110px;
            }
            @include respond-to(lg) {
                background-position: right 200px top -80px;
            }
            @include respond-to(xl) {
                background-position: right 400px top -50px;
            }
           
        }

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        &.reverse {
            flex-direction: column;
            background-position: left top -110px;
            @include respond-to(md) {
                flex-direction: row-reverse;
                background-position: left top -110px;
            }
            @include respond-to(lg) {
                background-position: left 100px top -60px;
            }
            @include respond-to(xl) {
                background-position: left 100px top -25px;
            }
            
        }
        .img-wrapper {
            @include respond-to(md) {
                flex: 0 0 300px;
                max-width: 300px;
            }
            @include respond-to(lg) {
                flex: 0 0 400px;
                max-width: 400px;
            }
            @include respond-to(xl) {
                flex: 0 0 600px;
                max-width: 600px;
            }
            img {
                width: 300px;
                @include respond-to(md) {
                    width: 400px;
                }
                @include respond-to(lg) {
                    width: 500px;
                }
                @include respond-to(xl) {
                    width: 600px;
                }
            }
        }
        .text-content {
            max-width: 550px;
            @include respond-to(md) {
                flex: 1 0 0;
            }
            h4.title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: $spacing-unit*2;
                @include respond-to(md) {
                    font-size: 28px;
                }
            }
            .project-paragraph {
                margin-bottom: 0;
            }
        }
    }
}