<section class="about-wrapper" id="about" tabindex="-1">
    <div class="container d-flex">
        <div class="text-wrapper">
            <div class="title mb-3">
                <h2 class="title-body">{{componentConfig.title}}</h2>
                <h3 class="title-body slab arrow-design">{{componentConfig.subtitle}}</h3>
            </div>
            <p>
                @for (p of componentConfig.paragraphs; track $index) {
                    <span class="d-block mb-2">{{p}}</span>
                }
            </p>
            <app-dynamic-bullets [componentConfig]="componentConfig.bullets" />
        </div>
        <div class="img-wrapper">
            <div class="rectangle"></div>
            <img [src]="componentConfig.img.src" [alt]="componentConfig.img.alt" loading="lazy">
        </div>
    </div>
</section>