@import "mixins";

.mono-dynamic-section-wrapper {
    padding-top: $spacing-unit*8; 
    padding-bottom: $spacing-unit*8; 
    @include respond-to(md) {
        padding-top: $spacing-unit*16; 
        padding-bottom: $spacing-unit*8; 
    }
    @include respond-to(xl) {
        padding-bottom: $spacing-unit*16; 
    }
    overflow: hidden;
    &.tierro {
        background-color: $tierroBack;
        --circle-icon-bg: #{$tierroYellow};
        --icon-color: #{$tierroPrimary_100};
        &.dark-back {
            background-color: $tierroPrimary_100;
            background-image: radial-gradient(50% 50% at 50% 50%, rgba($tierroYellow, 0.1) 0%, rgba($tierroPrimary_100, 0) 100%);
            background-position: top -115px right calc(50% - 300px), right -115px;
            background-repeat: no-repeat;
            background-size: 900px auto;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25) inset;
           
        }
        &.conclusions {
            .container {
                flex-direction: column;
                @include respond-to(lg) {
                    flex-direction: row;
                }
                .img-wrapper {
                    img {
                        width: 300px;
                        height: auto;
                        @include respond-to(md) {
                            width: 350px;
                            height: auto;
                        }
                        @include respond-to(xl) {
                            width: 600px;
                        }
                    }
                }
            }
        }
        &.audio-plug {
            --circle-icon-bg: transparent;
            --icon-color: #{$tierroWhite};
            @include respond-to(md) {
                background-image: url(assets/images/projects/tierro/plug6.svg);
                background-size: 800px auto;
                background-position: right calc(50% - 170px) bottom -200px;
                background-repeat: no-repeat;
            }
            .text {
                
                @include respond-to(md) {
                    flex: 0 0 500px;
                    max-width: 500px;
                }
                @include respond-to(lg) {
                    flex: 0 0 600px;
                    max-width: 600px;
                }
                @include respond-to(xl) {
                    flex: 0 0 700px;
                    max-width: 700px;
                }
            }
        }
    }
    &.brushalong {
        background-color: $brushAlongWhite;
        --circle-icon-bg: #{$brushalongBlue};
        --icon-color: #{$brushAlongWhite}; 
        .primary-color {
            color: $brushalongDarkBlue;
        }
        .white-color {
            color: $brushalongPrimary;
        }
        &.conclusions {
            .container {
                flex-direction: column;
                @include respond-to(lg) {
                    flex-direction: row;
                }
                .img-wrapper {
                   
                    @include respond-to(lg) {
                        flex: 0 0 450px;
                    }
                    img {
                        width: 300px;
                        height: auto;
                        @include respond-to(md) {
                            width: 350px;
                            height: auto;
                        }
                        @include respond-to(xl) {
                            width: 450px;
                        }
                    }
                }
            }
        }
        &.clouds {
            background-image: url(assets/images/projects/brush-along/clouds.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top 20px center;
            padding-top: $spacing-unit*16; 
            padding-bottom: $spacing-unit*8; 
            @include respond-to(md) {
                padding-top: $spacing-unit*32; 
            }
            @include respond-to(xl) {  
                padding-bottom: $spacing-unit*16; 
            }
        }
    }
    &.paragraph-yellow-title {
        background-color: $tierroBackBlue;
        .container {
            .text {
                p.project-paragraph {
                    color: var(--color-primary);
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: $spacing-unit;
                    @include respond-to(md) {
                        font-size: 28px;
                    }
                }
            }
        }
    }
 
    &.ltr {
        .container {
            flex-direction: column-reverse;
            @include respond-to(lg) {
                flex-direction: row;
            }
            .img-wrapper {
                img {
                    @include respond-to(lg) {
                        transform: translateX(60px);
                    }
                }
            }
        }
    }
    &.rtl {
        .container {
            flex-direction: column-reverse;
            @include respond-to(lg) {
                flex-direction: row-reverse;
            }
            .img-wrapper {
                img {
                    @include respond-to(lg) {
                        
                        transform: translateX(-60px);
                    }
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: start;
        
        gap: $spacing-unit*4;
        
        @include respond-to(lg) {
            justify-content: space-between;
            align-items: center;
        }
        .img-wrapper {
            flex: auto;
        
            @include respond-to(lg) {
                flex:  0 0 400px;
                width: 400px;
            }
            @include respond-to(xl) {
                flex:  0 0 630px;
            }
            img {
                width: 300px;
                height: 255px;
                @include respond-to(md) {
                    width: 450px;
                    height: 383px;
                }
                @include respond-to(xl) {
                    width: 630px;
                    height: 536px;
                }
            }
        }
        .text {
            h2.project-title {
                margin-bottom: $spacing-unit; 
            }
            h3.project-subtitle {
                margin-bottom: $spacing-unit*4; 
            }
            p.project-paragraph {
                margin-bottom: $spacing-unit*4; 
            }
            ul {
                list-style: none;
                list-style-image: none;
                li {
                    display: flex;
                    gap: $spacing-unit*2; 
                    margin-bottom: $spacing-unit*4; 
                }
                h3.bullet-title {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.5;
                    margin-bottom: 0;
                    @include respond-to(md) {
                        font-size: 18px;
                    }
                }
                p.bullet-paragraph {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.5;
                    margin-bottom: 0;
                    @include respond-to(md) {
                        font-size: 18px;
                    }
                }
                .img-bullet-wrapper {
                    &.with-icon {
                        background-color: var(--circle-icon-bg);
                        fill: var(--icon-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        padding: $spacing-unit;
                        width: 35px;
                        height: 35px;
                        flex: 0 0 35px;
                        @include respond-to(lg) {
                            width: 60px;
                            height: 60px;
                            flex: 0 0 60px;
                        }
                        app-get-icon {
                            width: 25px;
                            @include respond-to(lg) {
                                width: 45px;
                            }
                            ::ng-deep {
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    @include respond-to(lg) {
                                        width: 45px;
                                        height: 45px;
                                    }
                                }
                            }
                        }
                    }
                    img {

                    }
                }
            }
        }
    }
}