<section class="mono-dynamic-section-wrapper" [ngClass]="[componentConfig.dir, componentConfig.projectName, componentConfig.specialClass ?? '']">
    <div class="container">
        <div class="text">

            @if (componentConfig.title) {
                <h2 class="project-title primary-color in-title">{{componentConfig.title}}</h2>
            }
            @if (componentConfig.subtitle) {
                <h3 class="project-subtitle white-color in-title">{{componentConfig.subtitle}}</h3>
            }
            
            @for (p of componentConfig.paragraphs; track $index) {
                <p class="project-paragraph">{{p}}</p>
            }
            @if (componentConfig.bullets) {
                <ul>
                    @for (bullet of componentConfig.bullets; track $index) {
                        <li>
                            <div class="img-bullet-wrapper" [ngClass]="{'with-icon': bullet.iconName && bullet.iconName.trim().length > 0}">
                                @if (bullet.bulletImage) {
                                    <img [src]="bullet.bulletImage.src" [alt]="bullet.bulletImage.alt" loading="lazy">
                                }
                                @if (bullet.iconName) {
                                    <app-get-icon [icon]="bullet.iconName" />
                                }
                            </div>
                            <div class="text-bullet-wrapper">
                                <h3 class="bullet-title">{{bullet.title}}</h3>
                                <p class="bullet-paragraph">{{bullet.text}}</p>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        @if (componentConfig.image) {
            <div class="img-wrapper">
                <img [src]="componentConfig.image.src" [alt]="componentConfig.image.alt" loading="lazy">
            </div>
        }   
    </div>
</section>