@import "mixins";

.mono-dynamic-section-wrapper {
    padding-top: $spacing-unit*16; 
    padding-bottom: $spacing-unit*16; 
    &.tierro {
        background-color: $tierroBack;
        &.dark-back {
            background-color: $tierroPrimary_100;
            background-image: radial-gradient(50% 50% at 50% 50%, rgba($tierroYellow, 0.1) 0%, rgba($tierroPrimary_100, 0) 100%);
            background-position: top -115px right -115px;
            background-repeat: no-repeat;
            background-size: 900px auto;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25) inset;
        }
    }
    &.paragraph-yellow-title {
        background-color: $tierroBackBlue;
        p.project-paragraph {
            color: var(--color-primary);
            font-size: 28px;
            font-weight: 700;
        }
    }
    &.ltr {
        .container {
            flex-direction: column-reverse;
            @include respond-to(lg) {
                flex-direction: row;
            }
            .img-wrapper {
                img {
                    @include respond-to(lg) {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
    &.rtl {
        .container {
            flex-direction: column-reverse;
            @include respond-to(lg) {
                flex-direction: row-reverse;
            }
            .img-wrapper {
                img {
                    @include respond-to(lg) {
                        margin-left: -40px;
                    }
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: start;
        
        gap: $spacing-unit*4;
        
        @include respond-to(lg) {
            justify-content: space-between;
            align-items: center;
        }
        .img-wrapper {
            flex: auto;
            @include respond-to(lg) {
                flex:  0 0 500px;
            }
            @include respond-to(xl) {
                flex:  0 0 630px;
            }
            img {
                width: 300px;
                height: 255px;
                @include respond-to(md) {
                    width: 500px;
                    height: 426px;
                }
                @include respond-to(xl) {
                    width: 630px;
                    height: 536px;
                }
            }
        }
        .text {
            h2.project-title {
                margin-bottom: $spacing-unit; 
            }
            h3.project-subtitle {
                margin-bottom: $spacing-unit*4; 
            }
            p.project-paragraph {
                margin-bottom: $spacing-unit*4; 
            }
            ul {
                list-style: none;
                list-style-image: none;
                li {
                    display: flex;
                    gap: $spacing-unit*2; 
                    margin-bottom: $spacing-unit*4; 
                }
                h3.bullet-title {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.5;
                    margin-bottom: 0;
                    @include respond-to(md) {
                        font-size: 18px;
                    }
                }
                p.bullet-paragraph {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.5;
                    margin-bottom: 0;
                    @include respond-to(md) {
                        font-size: 18px;
                    }
                }
                .img-bullet-wrapper {
                    &.with-icon {
                        background-color: var(--color-primary);
                        fill: var(--color-text-primary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        padding: $spacing-unit;
                        width: 60px;
                        height: 60px;
                        flex: 0 0 60px;
                        app-get-icon {
                            width: 45px;
                            ::ng-deep {
                                svg {
                                    width: 45px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                    img {

                    }
                }
            }
        }
    }
}