@import "mixins";

.header-wrapper {
    padding-top: $spacing-unit*16;
    padding-bottom: $spacing-unit*16;
    overflow: hidden;
    @include respond-to(md) {
        padding-top: $spacing-unit*32;
        padding-bottom: $spacing-unit*32;
    }
    &.tierro {
        background-color: $tierroPrimary_100;
        background-image: url(assets/images/projects/tierro/back-header.svg), url(assets/images/projects/tierro/back-rect.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: bottom 100px center, left top;
        background-size: 100% auto, 900px auto;
        --font-color-primary: #{$tierroYellow};
        --font-color-secondary: #{$tierroWhite-white};
        .logo-wrapper {
            img {
                width: 100px;
                height: 37px;
                @include respond-to(md) {
                    width: 150px;
                    height: 55px;
                }
            }
        }
    }
    &.brushalong {
        background-color: $brushAlongFadeWhite;
        --font-color-primary: #{$brushalongDarkBlue};
        --font-color-secondary: #{$brushalongPrimary};
        padding-bottom: $spacing-unit*8;
        padding-top: $spacing-unit*16;
        @include respond-to(md) {
            background-image: url(assets/images/projects/brush-along/header-image.webp) , radial-gradient(50% 50% at 50% 50%, #4b78d875 0%, rgba(40, 63, 114, 0.00) 100%);
            background-position: top -20px right calc(50% - 450px), top right calc(50% - 915px);
            background-repeat: no-repeat;
            background-size: 900px auto, 2000px auto;
            padding-bottom: $spacing-unit*16;
            padding-top: $spacing-unit*20;
        }
        
        .bullets-container {
            max-width: 500px;
            @include respond-to(md) {
                margin-top: $spacing-unit*32;
            }
            @include respond-to(lg) {
                max-width: 730px;
            }
           
        }
        .container:not(.with-bullets) {
            .left {
                .logo-wrapper {
                    margin-bottom: $spacing-unit*4;
                    @include respond-to(md) {
                        margin-bottom: $spacing-unit*8;
                    }
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
           
            .right {
                display: block;
                margin-bottom: $spacing-unit*4;
                @include respond-to(md) {
                    display: none;
                }
            }
        }
        
    }
    &.portfolio {
        background-color: $purple;
        --font-color-primary: #{$text-color-white};
        --font-color-secondary: #{$text-color-white};
        padding-top: $spacing-unit*16;
        padding-bottom: $spacing-unit*16;
        @include respond-to(md) {
            padding-top: $spacing-unit*32;
        }
        .logo-wrapper {
            img {
                width: 100px;
                height: 62px;
            }
        }
    }
    .cta-wrapper {
        margin-top: $spacing-unit*8;
    }
    .bullets-container {
        width: 100%;
        .bullets {
            display: flex;
            justify-content: space-between;
            max-width: 700px;
            gap: $spacing-unit;
            width: 100%;
            @include respond-to(md) {
                margin-top: $spacing-unit*16;
            }
            
            h5 {
                font-size: 0.75rem;
                font-weight: 500;
                color: var(--font-color-secondary);
                @include respond-to(md) {
                    font-size: 1.125rem;
                }
                @include respond-to(lg) {
                    font-size: 1.25rem;
                }
            }
            p {
                font-size: 1rem;
                font-weight: 700;
                color: var(--font-color-primary);
                white-space: wrap;
                @include respond-to(md) {
                    font-size: 1.25rem;
                }
                @include respond-to(lg) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .container:not(.with-bullets) {
        display: flex;
        flex-direction: column;
        @include respond-to(md) {
            flex-direction: row;
            gap: $spacing-unit*4;
        }
        .left {
            margin-bottom: $spacing-unit*6;
            @include respond-to(md) {
                flex: 0 0 400px;
                margin-bottom: 0;
            }
            @include respond-to(lg) {
                flex: 0 0 550px;
            }
            @include respond-to(xl) {
                flex: 0 0 700px;
            }
            .logo-wrapper {
                margin-bottom: $spacing-unit*8;
              
            }
            h2.title {
                font-size: 1.5rem;
                margin-bottom: $spacing-unit*2;
                font-weight: 600;
                color: var(--font-color-primary);
                max-width: 600px;
                line-height: 1.2;
                @include respond-to(md) {
                    font-size: 2.25rem;
                    margin-bottom: $spacing-unit*8;
                }
                @include respond-to(lg) {
                    font-size: 3.125rem;
                }
                @include respond-to(xl) {
                    font-size: 3.75rem;
                }
            }
            p.subtitle {
                font-size: 1.125rem;
                font-weight: 500;
                color: var(--font-color-secondary);
                max-width: 600px;
                margin-bottom: $spacing-unit*4;
                @include respond-to(md) {
                    font-size: 1.375rem;
                    margin-bottom: 0;
                }
                @include respond-to(lg) {
                    font-size: 1.75rem;
                }
            }
          

        }
        .right {
            margin-bottom: $spacing-unit*8;
            @include respond-to(md) {
                flex: 0 0 300px;
                margin-bottom: 0;
            }
            @include respond-to(lg) {
                flex: 0 0 700px;
            }
            @include respond-to(xl) {
                flex: 0 0 900px;
            }
            img {
               
                width: 375px;
                height: auto;
                @include respond-to(md) {
                    width: 500px;
                }
                @include respond-to(lg) {
                    width: 700px;
                }
                @include respond-to(xl) {
                    width: 900px;
                    transform: translateX(100px);
                }
            }
        }
    }
}