<section class="carousel-wrapper" [id]="componentConfig.subtitle | lowercase">
    <div class="container">
      <div class="title mb-9 text-center" >
        <h3 class="title-body">{{componentConfig.title}}</h3>
        <h4 class="title-body slab">{{componentConfig.subtitle}}</h4>
      </div>
      
      <div class="subjects mb-8" role="tablist">
        @if (componentConfig.subjects && componentConfig.subjects.length > 0) {
          <button (click)="prev()" class="arrow left buttons">
            <app-get-icon [icon]="'arrow_left'" />
          </button>
          @for (subject of visibleItems; track $index) {
            <button [class.active]="selectedItem === subject"
                    (click)="selectSubject(subject.title, $event)"
                    role="tab"
                    class="subject buttons"
                    [attr.aria-selected]="selectedItem === subject"
                    [attr.aria-controls]="generateId(subject.title)"
                    [attr.aria-label]="getAriaLabel(subject)"
                    >
                    <p> {{ subject.title }}</p>
            </button>
          }
          <button (click)="next()" class="arrow right buttons">
            <app-get-icon [icon]="'arrow_right'" />
          </button>
        }
      </div>
      @if (selectedItem !== null) {
        <div class="carousel-content d-flex" role="tabpanel">
            @if (isProject(selectedItem)) {
              <div class="left-side" [id]="generateId(selectedItem.title)">
                <div class="logo-wrapper mb-4">
                  <img [src]="selectedItem.iconImg.src" [alt]="selectedItem.iconImg.alt" loading="lazy">
                </div>
                <div class="responsibilities mb-4">
                  @for (responsibility of selectedItem.responsibilities; track responsibility) {
                    <div class="responsibility">
                      <h5>{{ responsibility }}</h5>
                    </div>
                  }
                </div>
                <p class="mb-8">{{ selectedItem.description }}</p>
                <app-cta [ctaConfig]="selectedItem.cta"/>
              </div>
              <div class="img-wrapper">
                <img [src]="selectedItem.previewImg.src" [alt]="selectedItem.previewImg.alt" loading="lazy">
              </div>
            }
            @else {
              <div class="service-side" [id]="generateId(selectedItem.title)">
                <div class="img-wrapper">
                  <img [src]="selectedItem.previewImg.src" [alt]="selectedItem.previewImg.alt" loading="lazy">
                </div>
                <div class="contain">
                  <h3 class="arrow-design small-title slab mb-5">{{ selectedItem.title }}</h3>
                  <p>{{ selectedItem.description }}</p>
                </div>
              </div>
            }
          </div>
      }
   
    </div>
  </section>
  