@import './mixins';

form {
    .checkboxes {
        display: flex;
        gap: $spacing-unit*2;
        flex-wrap: wrap;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        gap: $spacing-unit*4;
        margin-bottom: $spacing-unit*8;
        // @include respond-to(md) {
        //     gap: $spacing-unit*8;
        //     margin-bottom: $spacing-unit*16;
        // }
    }
    .img-row {
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            width: 1000px;
            height: 19px;
            flex: 0 0 1000px;
        }
    }
    .error {
        display: flex;
        align-items: center;
        gap: $spacing-unit*2;
    }
    label[role="checkbox"] {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: $spacing-unit*2;
        padding: 12.5px $spacing-unit*2;
        gap: $spacing-unit;
        position: relative;
        cursor: pointer;
        outline: none;
        @include respond-to(md) {
            padding: 12.5px $spacing-unit*5;
        }
      

        .check-icon-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            pointer-events: none;
        }

        input {
            display: none;
        }

        &:has(input:checked) {
            border: 1px solid transparent;
            background-color: $tierroYellow;
            box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 20px 0px $tierroYellow;
            color: $dark;
            fill: $dark;
            &:focus {
                border: 2px $tierroPrimary_100 solid;
                box-shadow: 0px 0px 0px 2px $tierroYellow;
                background-color: $tierroYellow;
            }
        }
        &:has(input:not(:checked)) {
            border: 1px solid $form-border;
            background-color: $dark-purple;
            box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.25) inset;
            color: rgba($text-color-white, 50%);
            fill: rgba($text-color-white, 50%);
            &:focus {
                border: 2px solid $tierroYellow;
            }
            .check-icon-wrapper {
                display: none;
            }
        }
    }
    .cta-wrapper {
        display: inline-flex;
        font-family: $font-family-roboto;
        transition: all ease-in-out .2s;
        padding: 12.5px $spacing-unit*10;
        border-radius: $spacing-unit*2;
        cursor: pointer;
        align-items: center;
        gap: $spacing-unit*2;
        justify-content: center;
    
        background-color: $tierroYellow;
        color: $tierroPrimary_100;
        fill: $tierroPrimary_100;
        width: 100%;
        max-width: 375px;
        &:hover {
            background-color: darken($tierroYellow, $amount: 20%);
        }
        &:focus {
            &, &:hover {
                border: $border-focus $tierroPrimary_100 solid;
                box-shadow: $shadow-focus $tierroYellow, $shadow-focus-blur $tierroYellow;
                background-color: $tierroYellow;
            }
        }
    }

    .input-group-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $spacing-unit*2;
        label {
            color: $text-color-white;
        }
        .icon {
            position: absolute;
            fill: $text-color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            &.icon-left {
                left: $spacing-unit*2;
            }
            &.icon-right {
                right: $spacing-unit*2;
            }
        }
        .input-wrapper {
            display: flex;
            align-items: center;
            input {
                padding: $spacing-unit*3 $spacing-unit*4+25;
                border-radius: $spacing-unit*2; 
                border: 1px solid $form-border;
                background: $dark-purple;
                width: 100%;
                max-width: 375px;
                color: $text-color-white;
                outline: none;
                &::placeholder {
                    color: rgba($text-color-white, $alpha: 50%);
                }
                &:active, &:focus {
                    border: 2px solid $focusBlue;
                }
                &.ng-invalid.ng-touched:not(:focus) {
                    border: 2px solid $errorRed;
                }
                &.ng-touched:-internal-autofill-selected {
                    background-image: none !important;
                    background-color: $dark-purple !important;
                    color: $text-color-white !important;
                }
            }
        }
    }
    .spinner-border {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner-border .75s linear infinite;
        margin-right: $spacing-unit;
    }
    
    @keyframes spinner-border {
        to { transform: rotate(360deg); }
    }
    // .shake {
    //     animation: shake-animation 1s ease-in-out;
    //   }
      
    //   @keyframes shake-animation {
    //     0%, 100% {
    //       transform: translateX(0);
    //     }
    //     10%, 30%, 50%, 70%, 90% {
    //       transform: translateX(-10px);
    //     }
    //     20%, 40%, 60%, 80% {
    //       transform: translateX(10px);
    //     }
    //   }
}