@import './mixins';

form {
    .checkboxes {
        display: flex;
        gap: $spacing-unit*2;
        flex-wrap: wrap;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        gap: $spacing-unit*8;
        margin-bottom: $spacing-unit*16;
    }
    .img-row {
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            width: 1000px;
            height: 19px;
            flex: 0 0 1000px;
        }
    }
}