<footer class="project-final-section-wrapper" [ngClass]="[componentConfig.projectName, componentConfig.specialClass ?? '']">
    <div class="container">
        @if (componentConfig.title) {
            <h2 class="project-title primary-color in-title">{{componentConfig.title}}</h2>
        }
        @if (componentConfig.subtitle) {
            <h3 class="project-subtitle white-color in-title">{{componentConfig.subtitle}}</h3>
        }

        @if (componentConfig.paragraphs) {
            @for (p of componentConfig.paragraphs; track $index) {
                <p class="project-paragraph">{{p}}</p>
            }
        }
       
        @if (componentConfig.image) {
            <div class="img-wrapper">
                <img [src]="componentConfig.image.src" [alt]="componentConfig.image.alt">
            </div>
        }
     
        <div class="side">
            @if (componentConfig.paragraphsSide) {
                @for (p of componentConfig.paragraphsSide; track $index) {
                    <p class="project-paragraph">{{p}}</p>
                }
            }
            
            @if (componentConfig.ctaSides) {
                @for (cta of componentConfig.ctaSides; track $index) {
                    <app-cta [ctaConfig]="cta"/>
                }
            }
        </div>
    </div>
</footer>