@import "mixins";

.design-process-wrapper {
    padding-top: $spacing-unit*8;
    padding-bottom: $spacing-unit*8;
    overflow: hidden;
    @include respond-to(md) {
        padding-top: $spacing-unit*32;
    }
    &.tierro {
        background-color: $tierroPrimary_100;
        background-repeat: no-repeat;
        @include respond-to(lg) {
            background-image:  linear-gradient(-90deg, transparent 70%, $tierroPrimary_100 100%), url(assets/images/projects/tierro/plug5.svg);
            background-size: cover, 4000px auto;
            background-position: center, top right calc(50% - 322px);
        }
        @include respond-to(xl) {
            background-image: linear-gradient(-90deg, transparent 40%, $tierroPrimary_100 90%), url(assets/images/projects/tierro/plug3.svg), url(assets/images/projects/tierro/plug5.svg);
            background-size: cover ,500px auto, 4000px auto;
            background-position:  center ,left calc(50% - 400px) bottom, top -120px right calc(50% - 700px);
        }
        @include respond-to(xxl) {
            background-image: linear-gradient(-90deg, transparent 40%, $tierroPrimary_100 90%), linear-gradient(-30deg, $tierroPrimary_100 10%, transparent 20%), url(assets/images/projects/tierro/plug3.svg),  url(assets/images/projects/tierro/plug5.svg);
            background-size: cover, cover, 768px auto, 4000px auto;
            background-position:  center, center, left calc(50% - 700px) bottom, top -120px right calc(50% - 800px);
        }
        .container {
            &.mobile {
                @include respond-to(lg) {
                    padding-top: 70px;
                }
            }
        }
    }
    &.portfolio {
        background-color: $dark;
        background-image: url(assets/images/projects/portfolio/project-mobile-split1.webp);
        background-repeat: no-repeat;
        background-size: 991px auto;
        background-position: center bottom -25px;
        padding-bottom: $spacing-unit*24;
        @include respond-to(lg) {
            background-image: url(assets/images/projects/portfolio/project-split1.webp);
            background-size: 1200px auto;
        }
        @include respond-to(xl) {
            background-repeat: no-repeat;
            background-image: url(assets/images/projects/portfolio/sun2.svg), url(assets/images/projects/portfolio/project-split1.webp);
            background-position: top left calc(50% - 200px), center bottom -30px;
            background-size: 311px 311px, 1400px auto;
        }
        @include respond-to(xxl) {
            background-repeat: no-repeat;
            background-image: url(assets/images/projects/portfolio/sun2.svg), url(assets/images/projects/portfolio/project-split1.webp);
            background-position: top left calc(50% - 200px), center bottom -100px;
            background-size: 311px 311px, 3840px auto;
            padding-bottom: $spacing-unit*32;
        }
        .process {
            &.last {
               
                margin-left: unset;
                padding-left: unset;
                margin-top: 48px;
                margin-right: 0;
                padding-right: 0;
                @include respond-to(md) {
                    margin-top: 0;
                    margin-right: 40px;
                    padding-right: 12px;
                }
                .content {
                    background: linear-gradient(180deg, #34233B 25.52%, #190417 70.83%);
                    @include respond-to(md) {
                        padding-right: 18px;
                    }
                }
                .circle {
                    position: absolute;
                    top: -64px;
                    @include respond-to(md) {
                        left: unset;
                        right: -40px;
                        top: 0;
                    }
                }
                &:after {
                   
                    left: 26px;
                    top: -40px;
                    border-top:  20px solid transparent;
                    border-left: 20px solid var(--color-text-sub-primary);
                    border-right: 20px solid transparent;
                    border-bottom:  20px solid transparent;
                    transform: rotateZ(-90deg);
                    @include respond-to(md) {
                        left: unset;
                        border-top: 20px solid var(--color-text-sub-primary);
                        transform: rotateZ(-90deg);
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        top: 30px;
                        right: -27px;
                        
                    }
                }
            }
        }
    }
    &.brushalong {
        background-color: $brushAlongWhite;
        @include respond-to(xl) {
            background-image: url(assets/images/projects/brush-along/crub.webp);        ;
            background-repeat: no-repeat;
            background-size: 400px auto, 300px 300px;
            background-position: bottom left calc(50% - 400px), top -150px left -150px;
        }
        @include respond-to(md) {
            padding-top: $spacing-unit*16;
        }
        .primary-color {
            color: $brushalongDarkBlue;
        }
        .white-color {
            color: $brushalongPrimary;
        }
        .process {
            &.last {
                .content {
                    border: none;
                    background-image: none;
                    background-color: $brushalongDarkBlue;
                    .number, .title, .small-paragraph {
                        color: $brushAlongWhite;
                    }
                }
                &:after {
                    border-left: 20px solid $brushalongDarkBlue;
                    @include respond-to(md) {
                        border-top: 20px solid $brushalongDarkBlue;
                        border-left: 20px solid transparent;
                    }
                }
            }
            .circle {
                border: solid 15px #D7DBE7;
                background-color: $brushalongDarkBlue;
            }
            &::before {
                background-image: linear-gradient($brushalongDarkBlue 33%, rgba(255,255,255,0) 0%);
            }
        }
    }
    .container {
        display: flex;
       flex-direction: column-reverse;
        gap: $spacing-unit*4;
        @include respond-to(xl) {
            justify-content: space-between;
            flex-direction: row;
        }
        &.mobile {
            display: flex;
            flex-direction: column;
            gap: 0;
           
            @include respond-to(xl) {
                display: none;
            }
            h3.project-subtitle {
                line-height: .7;
            }
        }
        &:not(.mobile) {
            h2.project-title, h3.project-subtitle {
                display: none;
               
                @include respond-to(xl) {
                    display: block;
                }
            }
        }
    }
    .text {
        @include respond-to(xl) {
            flex: 0 0 400px;
        }
        @include respond-to(xxl) {
            flex: 0 0 600px;
            max-width: 600px;
        }
        h2.project-title {
            margin-bottom: $spacing-unit; 
        }
        h3.project-subtitle {
            margin-bottom: $spacing-unit*4; 
        }
        p.project-paragraph {
            margin-bottom: $spacing-unit*8; 
            &:nth-last-of-type(1) {
                margin-bottom: 0;
            }
        }
        
    }
    .empty {
        display: none;
        @include respond-to(md) {
            display: block;
        }
    }
    .processes {
        margin-top: 35px;
        @include respond-to(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
    }
    .process {
        max-width: 290px;
        position: relative;
        display: flex;
       
        &:nth-child(even) {
            justify-self: flex-start;
            margin-left: $spacing-unit*8;
            padding-left: $spacing-unit*8;
            @include respond-to(md) {
                margin-left: $spacing-unit*2;
                padding-left: 0;
            }
            .circle {
                left: -22px;
                @include respond-to(md) {
                    left: -$spacing-unit*10;
                }
            }
            &::before {
                left: 0;
               
                @include respond-to(md) {
                    left: -$spacing-unit*6;
                }
            }
        }
        &:nth-child(odd) {
            justify-self: flex-end;
            margin-right: unset;
            padding-right: unset;
            margin-left: $spacing-unit*8;
            padding-left: $spacing-unit*8;
            @include respond-to(md) {
                margin-right: $spacing-unit*2;
                padding-right: $spacing-unit*2;
                margin-left: unset;
                padding-left: unset;
            }
            // grid-column: 3 / 1;
            .circle {
                left: -20px;
                @include respond-to(md) {
                    left: unset;
                    right: -10px;
                }
            }
            &::before {
                left: 0;
                @include respond-to(md) {
                    right: $spacing-unit*2;
                    left: unset;
                }
            }
            .content {
                padding-right: $spacing-unit*3;
            }
        }
        &.last {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-left: 0;
            @include respond-to(md) {
                display: flex;
                flex-direction: unset;
                margin-left: $spacing-unit*2;
            }
            &:before {
                display: none;
            }
            .content {
                padding: $spacing-unit*4;
                border-radius: 37px;
                border: 1px solid var(--color-text-sub-primary);
                background: linear-gradient(180deg, var(--color-text-primary) 25%, #161F24 70%);
                box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.15);
                padding-right: $spacing-unit*2;
            }
            &:after {
                content: '';
                position: absolute;
                left: 26px;
                top: 5px;
                display: block;
                width: 0;
                border-top:  20px solid transparent;
                border-left: 20px solid var(--color-text-sub-primary);
                border-right: 20px solid transparent;
                border-bottom:  20px solid transparent;
                transform: rotateZ(-90deg);
                @include respond-to(md) {
                    top: 45px;
                    border-bottom: unset;
                    border-top: 20px solid var(--color-text-sub-primary);
                    transform: rotateZ(90deg);
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    left: -30px;
                }
            }
            .circle {
                top: -40px;
                left: 26px;
                right: unset;
                position: relative;
                @include respond-to(md) {
                    top: 30px;
                    left: -$spacing-unit*10;
                    position: absolute;
                }
            }
        }
        h2.number {
            font-size: 2.25rem;
            font-weight: 500;
            margin-bottom: 0;
            @include respond-to(lg) {
                font-size: 3rem;
            }
        }
        h3.title {
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: $spacing-unit;
            @include respond-to(lg) {
                font-size: 1.75rem;
            }
        }
        p.small-paragraph {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 0;
        }
        .circle {
            border-radius: 50%;
            border: solid 15px var(--color-text-primary);
            background-color: var(--color-primary);
            width: 45px;
            height: 45px;
            position: absolute;
            top: 15px;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-image: linear-gradient(var(--color-white) 33%, rgba(255,255,255,0) 0%);
            background-position: right;
            background-size: 1px 45px;
            background-repeat: repeat-y;
            top: 15px;
        }
       
    }
}