@import "mixins";

.project-design-system-show-wrapper {
  padding-top: $spacing-unit * 16;
  padding-bottom: $spacing-unit * 16;
  overflow: hidden;
  @include respond-to(lg) {
  }
  .container {
    overflow: hidden;
  }
  &.tierro {
    background-color: $tierroPrimary_100;
    .project-paragraph {
      margin-bottom: $spacing-unit * 8;
      color: $tierroYellow;
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
  &.portfolio {
    background-color: $light-purple;
    padding-top: $spacing-unit * 0;
  }
  .project-title {
    margin-bottom: $spacing-unit;
  }
  .project-subtitle {
    margin-bottom: $spacing-unit * 4;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .carousel-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .carousel-item {
        // todo: like the design need to change the image width to be the same to successes
      flex: 1 0 100%;
      transition: opacity 0.5s ease;
      &:nth-child(1),
      &:nth-child(3) {
        opacity: 0.5;
      }
    }
    img {
        height: 250px;
        @include respond-to(md) {
          height: 500px;
        }
        @include respond-to(lg) {
          height: 700px;
        }
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      fill: var(--color-white);
    }
    .prev-button, .next-button {
      app-get-icon {
        ::ng-deep svg {
          width: 45px;
          height: 45px;
          @include respond-to(md) {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
    .prev-button {
      left: 0;
     
    }

    .next-button {
      right: 0;
    }
  }
}
