@import "./mixins";

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: $dark;
  --white: $text-color-white;
  --gold: $text-color-gold;
  --dark-gold: $dark-gold;
  --dark-purple: $dark-purple;
  --light-purple: $light-purple;
  --purple: $purple;
  --orange: $orange;
  --form-border: $form-border;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-roboto;
  line-height: 1.5;
  color: $text-color-white;
  background-color: $dark;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
a {
  color: $text-color-white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* Generate margin and padding utilities */
@include generate-spacing-utilities("m", "margin");
@include generate-spacing-utilities("mt", "margin-top");
@include generate-spacing-utilities("mr", "margin-right");
@include generate-spacing-utilities("mb", "margin-bottom");
@include generate-spacing-utilities("ml", "margin-left");
@include generate-spacing-utilities("p", "padding");
@include generate-spacing-utilities("pt", "padding-top");
@include generate-spacing-utilities("pr", "padding-right");
@include generate-spacing-utilities("pb", "padding-bottom");
@include generate-spacing-utilities("pl", "padding-left");

/* Additional Utilities */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.container {
  
  &.in-project {
    width: 100%;
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
    margin-right: auto;
    margin-left: auto;
  
  @include respond-to(md) {
    max-width: 720px;
  }

  @include respond-to(lg) {
    max-width: 960px;
  }

  @include respond-to(xl) {
    max-width: 1140px;
  }

  @include respond-to(xxl) {
    max-width: 1320px;
  }
  }
  &:not(.in-project) {
    @include container;
  }
}
img {
  object-fit: contain;
}

.arrow-design {
  position: relative;
  display: flex;
  gap: 6px;
  &:after {
    content: "";
    position: relative;
    display: block;
    background-image: url(assets/images/title.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 17px;
    transform: translateY(12px);
  }
}

@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $i * 100;
  }
}

app-get-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

// --------------------
// projects:
// --------------------

h2.project-title {
  font-size: 18px;
  font-weight: 600;
  @include respond-to(md) {
    font-size: 22px;
  }
  @include respond-to(lg) {
    font-size: 28px;
  }
}
h3.project-subtitle {
  font-size: 28px;
  font-weight: 700;
  @include respond-to(md) {
    font-size: 36px;
  }
  @include respond-to(lg) {
    font-size: 48px;
  }
}
p.project-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  @include respond-to(lg) {
    font-size: 18px;
  }
}
section {
  &.tierro {
    --color-primary: #{$tierroYellow};
    --color-white: #{$tierroWhite-white};
    --color-fade-white: #{$tierroLittleWhite};
    --color-text-primary: #{$tierroPrimary_100};
    --color-text-sub-primary: #{$tierroSub_Primary_100};
    .primary-color {
      color: $tierroYellow;
    }
    .white-color {
      color: $tierroWhite-white;
    }
    .fade-white {
      color: $tierroLittleWhite;
    }
  }
}
