@import './mixins';

// Base typography styles
body {
  font-family: $font-family-roboto;
  @include responsive-font-size(roboto, base);
  line-height: 1.5;
  color: $text-color-white;
}

h1.slab { @include responsive-font-size(slab, h1); font-family: $font-family-slab; }
h2.slab { @include responsive-font-size(slab, h2); font-family: $font-family-slab; }
h3.slab { @include responsive-font-size(slab, h3); font-family: $font-family-slab; }
h4.slab { @include responsive-font-size(slab, h4); font-family: $font-family-slab; }

h3:not(.slab) { @include responsive-font-size(roboto, h3); font-family: $font-family-roboto; }
h4:not(.slab) { @include responsive-font-size(roboto, h4); font-family: $font-family-roboto; }
h5:not(.slab) { @include responsive-font-size(roboto, h5); font-family: $font-family-roboto; }
p:not(.slab) { @include responsive-font-size(roboto, base); font-family: $font-family-roboto; }
p:not(.slab).small { @include responsive-font-size(roboto, 'p-small'); font-family: $font-family-roboto; }
