// Colors
$text-color-white: #F5F5F5;
$text-color-gold: #BDAA75;
$dark-gold: #8A7742;
$dark: #190417;
$dark-purple: #34233B;
$purple: #402B48;
$orange: #CC6850;

// Fonts
$font-family-slab: "Montagu Slab" , Roboto, sans-serif;
$font-family-roboto: Roboto, sans-serif;

$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-sizes: (
  'slab': (
    h1: (small: 50px, medium: 100px, large: 100px),
    h2: (small: 20px, medium: 40px, large: 40px),
    h3: (small: 40px, medium: 80px, large: 80px),
    h4: (small: 16px, medium: 20px, large: 26px)
  ),
  'roboto': (
    h3: (small: 16px, medium: 24px, large: 24px),
    h4: (small: 16px, medium: 20px, large: 26px),
    h5: (small: 18px, medium: 24px, large: 24px),
    base: (small: 16px, medium: 20px, large: 20px),
    'p-small': (small: 14px, medium: 18px, large: 18px)
  )
);

// Spacing for different breakpoints
$spacing-unit: 6px;