// Colors
$text-color-white: #F5F5F5;
$text-color-gold: #BDAA75;
$dark-gold: #8A7742;
$dark: #190417;
$dark-purple: #34233B;
$light-purple: #5B2E49;
$purple: #402B48;
$orange: #CC6850;
$form-border: #D9DADB;

$focusBlue: #4851FE;
$errorRed: #CB5F5F;

// Fonts
$font-family-slab: "Montagu Slab" , Roboto, sans-serif;
$font-family-roboto: Roboto, sans-serif;

$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.125rem;

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-sizes: (
  'slab': (
    h1: (sm: 3.125rem, md: 5rem, lg: 6.25rem),
    h2: (sm: 1.25rem, md: 2.5rem, lg: 2.5rem),
    h3: (sm: 2.5rem, md: 4rem, lg: 5rem),
    h4: (sm: 1rem, md: 1.125rem, lg: 1.625rem),
    h5: (sm: 1rem, md: 1.125rem, lg: 1.25rem),
    h6: (sm: 0.875rem, md: 1.125rem, lg: 1.125rem)
  ),
  'roboto': (
    h3: (sm: 1rem, md: 1.5rem, lg: 1.5rem),
    h4: (sm: 1rem, md: 1.25rem, lg: 1.625rem),
    h5: (sm: 1.125rem, md: 1.5rem, lg: 1.5rem),
    base: (sm: 1rem, md: 1rem, lg: 1.25rem),
    'p-small': (sm: 0.875rem, md: 1.125rem, lg: 1.125rem),
    'p-very-small': (sm: 0.875rem, md: 1rem, lg: 1rem)
  )
);

// Spacing for different breakpoints
$spacing-unit: 6px;

$shadow-focus:  0px 0px 0px 4px;
$shadow-focus-blur: 0px 4px 12px 2px;
$border-focus: 3px;

// -------------------
// projects
// -------------------

// teirro color 
$tierroPrimary_100: #1E1E1E;
$tierroSub_Primary_100: #2A2B44;
$tierroWhite: #1E1E1E;
$tierroWhite-white: #D9D9D9;
$tierroLittleWhite: #E5E2FA;
$tierroWhite: #FBFCFE;
$tierroYellow: #FDC45D;
$tierroOrange: #F58047;
$tierroBack: #161F24;
$tierroBackBlue: #23334B;

// brushAlong
$brushalongBlue: #5683E6;
$brushalongDarkBlue: #37579C;
$brushalongPrimary: #545465;
$brushalongGreen: #B0EE18;
$brushalongDarkGreen: #6A8A45;
$brushAlongFadeWhite: #EEEFFE;
$brushAlongWhite: #FCFCFC;