@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.components-library-show-wrapper {
    padding-top: $spacing-unit*8;
    padding-bottom: $spacing-unit*8;
    overflow: hidden;
    @include respond-to(lg) {
        padding-top: $spacing-unit*16;
        padding-bottom: $spacing-unit*16;
    }
    &.brushalong {
        --selected-font: "Lilita One";
        --font-weight: 600;
        &.white-bg {
            background-color: $brushAlongWhite;
            background-image: url(assets/images/projects/brush-along/crub.webp);
            background-repeat: no-repeat;
            background-size: 200px auto;
            background-position: right bottom;
            @include respond-to(md) {
                background-image: url(assets/images/projects/brush-along/crub.webp), url(assets/images/projects/brush-along/blue-line2.svg);
                background-repeat: no-repeat;
                background-size: 250px auto, 2000px auto;
                background-position: top 2050px left calc(50% - 260px), top 1500px center;
            }
            .primary-color {
                color: $brushalongDarkBlue;
            }
            .white-color, .font-tile, .style-name, .abc {
                color: $brushalongPrimary;
            }
        }
    }
    &.portfolio {
      background-color: $light-purple;
      --circle-icon-bg: #{$tierroYellow};
      --icon-color: #{$dark};
      --selected-font: "Montagu Slab";
      --font-weight: 600;
      .content {
        .colors {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
                @include respond-to(md) {
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }
            }
            [style="background-color: #F5F5F5;"], .big {
                p {
                    color: $dark;
                }
            }
        }
    }
    &.text-center {
        text-align: start;
        @include respond-to(md) {
            text-align: center;
        }
        .content {
            text-align: start;
        }
    }
    .title {
        margin-bottom: $spacing-unit*8;
        @include respond-to(md) {
            max-width: 600px;
            margin: 0 auto $spacing-unit*8;
        }
    }
    .content {
        .text {
            max-width: 600px;
            margin-bottom: $spacing-unit*8;
        }
        .project-subtitle {
            font-size: 18px;
            font-weight: 500;
            @include respond-to(md) {
                font-size: 22px;
            }
            @include respond-to(lg) {
                font-size: 28px;
            }
        }
        ul {
            list-style: none;
            list-style-image: none;
            margin-top: $spacing-unit*4;
            li {
                display: flex;
                gap: $spacing-unit*2; 
                margin-bottom: $spacing-unit*4; 
            }
            h3.bullet-title {
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 0;
                @include respond-to(md) {
                    font-size: 18px;
                }
            }
            p.bullet-paragraph {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 0;
                @include respond-to(md) {
                    font-size: 18px;
                }
            }
            .img-bullet-wrapper {
                &.with-icon {
                    background-color: var(--circle-icon-bg);
                    fill: var(--icon-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: $spacing-unit;
                    width: 35px;
                    height: 35px;
                    flex: 0 0 35px;
                    @include respond-to(lg) {
                        width: 60px;
                        height: 60px;
                        flex: 0 0 60px;
                    }
                    app-get-icon {
                        width: 25px;
                        @include respond-to(lg) {
                            width: 45px;
                        }
                        ::ng-deep {
                            svg {
                                width: 25px;
                                height: 25px;
                                @include respond-to(lg) {
                                    width: 45px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                }
                img {

                }
            }
        }
        .colors {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            height: 400px;
            margin-bottom: $spacing-unit*8;
            @include respond-to(md) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            .color {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                color: $brushAlongWhite;
                font-weight: bold;
                text-align: center;
                padding: 20px;
                &.big {
                    grid-row: span 2; 
                    grid-column: span 2;
                }
            }
        }
        .font {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $spacing-unit*4;
            max-width: 900px;
            margin: 0 auto $spacing-unit*8;
            flex-direction: column;
            @include respond-to(md) {
                flex-direction: row;
                gap: $spacing-unit*8;
            }
            .left {
                @include respond-to(md) {
                    flex: 0 0 270px;
                }
                .font-tile {
                    margin-bottom: $spacing-unit*4;
                    font-size: 18px;
                    @include respond-to(md) {
                        margin-bottom: $spacing-unit*8;
                        font-size: 22px;
                    }
                    @include respond-to(lg) {
                        font-size: 28px;
                    }
                }
                img {
                    width: 150px;
                    @include respond-to(md) {
                        width: 270px;
                    }
                }
            }
            .right {
                .row {
                    display: flex;
                    gap: $spacing-unit*4;
                    align-items: center;
                    .abc {
                        font-family: var(--selected-font);
                        font-weight: var(--font-weight);
                    }
                }
            }
        }
        .components {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-unit*2;
            @include respond-to(md) {
                gap: $spacing-unit*8;
            }
            .components-image-wrapper {
                &:nth-of-type(1), &:nth-of-type(2) {
                    img {
                        width: 200px;
                        @include respond-to(md) {
                            width: 400px;
                        }
                    }
                }
                &:nth-of-type(3) {
                    img {
                        width: 300px;
                        @include respond-to(md) {
                            width: 500px;
                        }
                    }
                }
                &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                    img {
                        width: 100px;
                        @include respond-to(md) {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}