<app-navbar [componentConfig]="config.navbar" />
<app-header [componentConfig]="config.header" />
<app-dynamic-section [componentConfig]="config.overview" />
<app-process [componentConfig]="config.process" />
<app-problem-solution [componentConfig]="config.problemSolution"/>
<app-mono-dynamic-section [componentConfig]="config.clientPage"/>
<app-mono-dynamic-section [componentConfig]="config.adminPage"/>
<app-section-bullets [componentConfig]="config.theGoal"/>
<app-mono-dynamic-section [componentConfig]="config.targetAudience"/>
<app-personas [componentConfig]="config.personas"/>
<app-section-bullets [componentConfig]="config.insights"/>
<app-components-library-show [componentConfig]="config.componentsLibraryShow" />
<app-section-button [componentConfig]="config.finalDesign" />
<app-design-system-show [componentConfig]="config.designSystem" />
<app-sections-jump [componentConfig]="config.adminFinalDesign" />
<app-mono-dynamic-section [componentConfig]="config.conclusions"/>
<app-final-section [componentConfig]="config.footer" />

<app-icons-img/>