<app-navbar [componentConfig]="config.navbar" />
<app-header [componentConfig]="config.header" />
<app-dynamic-section [componentConfig]="config.overview" />
<app-process [componentConfig]="config.process" />
<app-problem-solution [componentConfig]="config.problemSolution"/>
<app-mono-dynamic-section [componentConfig]="config.clientPage"/>
<app-mono-dynamic-section [componentConfig]="config.adminPage"/>
<app-section-bullets [componentConfig]="config.theGoal"/>
<app-mono-dynamic-section [componentConfig]="config.targetAudience"/>

<app-icons-img/>