<header class="header-wrapper" id="header" [ngClass]="{ 'mobile': mobile }">
    @if (!mobile) {
        <div class="bg">
            <div class="sky layer" data-speed="-0.6"></div>
            <div class="water layer" data-speed="-1"></div>
            <div class="layer1" data-speed="0.3"></div>
            <div class="layer2 layer" data-speed="-0.5"></div>
            <div class="layer3 layer" data-speed="-.6"></div>
            <div class="layer4 layer" data-speed="-.7"></div>
            <div class="layer5 layer" data-speed="-.8"></div>
            <div class="layer6 layer" data-speed="-1"></div>
            <div class="layer7 layer" data-speed="-1.2"></div>
            <div class="birds layer" data-speed="-1.1"></div>
            <div class="sun layer" data-speed="-0.6"></div>
        </div>
    } 
  
    <div class="container">
        <span class="title mb-3 d-inline-block">{{componentConfig.h1}}</span>
        <h1 class="slab mb-4">{{componentConfig.h2}}</h1>
        <p class="mb-4" id="header-paragraph"></p>
        <div class="ctas-container">
            <app-cta [ctaConfig]="componentConfig.ctaJob"/>
        </div>
    </div>
    <div class="img-wrapper-mouse" (click)="scrollTo($event)" (keydown)="handleKeyDown($event)" role="button" tabindex="0" aria-label="Click to scroll to next section">
        <img src="assets/images/mouse.svg" alt loading="lazy">
    </div>
</header>