<header class="header-wrapper">
    <div class="bg">
        <div class="layer1 layer"></div>
        <div class="layer2 layer"></div>
    </div>
    <div class="container">
        <span class="title mb-3 d-inline-block">{{componentConfig.h1}}</span>
        <h1 class="slab mb-4">{{componentConfig.h2}}</h1>
        <p class="mb-4">{{componentConfig.h3}}</p>
        <div class="ctas-container">
            <app-cta [ctaConfig]="componentConfig.ctaJob"/>
            <app-cta [ctaConfig]="componentConfig.ctaAbout"/>
        </div>
    </div>
</header>