<header class="header-wrapper" id="header">
    <div class="bg">
        <div class="sky layer"></div>
        <div class="water layer"></div>
        <div class="layer1 layer"></div>
        <div class="layer2 layer"></div>
        <div class="layer3 layer"></div>
        <div class="layer4 layer"></div>
        <div class="layer5 layer"></div>
        <div class="layer6 layer"></div>
        <div class="layer7 layer"></div>
        <div class="birds layer"></div>
        <div class="sun layer"></div>
    </div>
    <div class="container">
        <span class="title mb-3 d-inline-block">{{componentConfig.h1}}</span>
        <h1 class="slab mb-4">{{componentConfig.h2}}</h1>
        <p class="mb-4">{{componentConfig.h3}}</p>
        <div class="ctas-container">
            <app-cta [ctaConfig]="componentConfig.ctaJob"/>
        </div>
    </div>
    <div class="img-wrapper-mouse" (click)="scrollTo($event)" (keydown)="handleKeyDown($event)" role="button" tabindex="0">
        <img src="assets/images/mouse.svg" alt loading="lazy">
    </div>
</header>