
<nav [ngClass]="{ 'scrolled-nav': scrolled,  'scrolled-top-nav': notTop}">
    <div class="contain d-flex">
        <div class="left">
            <app-logo [logoConfig]="componentConfig.logo"/>
            <div class="links">
                @for (link of componentConfig.links; track link.label) {
                    <div class="link">
                        <app-arrow-link [componentConfig]="link"/>
                    </div>
                }
            </div>
        </div>

        <div class="right">
            <app-cta [ctaConfig]="componentConfig.cta"/>
        </div>
    </div>
</nav>